<div class="container">
  <div class="card shadow mb-4">
    <div class="card-body">
      <h1>Liste des articles</h1>
      <table width="100%">
        <thead>
          <tr>
            <th>Code</th>
            <th>Libellé</th>
            <th>Prix</th>
            <th>Quantité</th>
            <th>Date insertion</th>
          </tr>
        </thead>
        <tbody *ngFor="let article of articles">
          <tr>
            <td>{{article.codea}}</td>
            <td>{{article.libelle | uppercase}}</td>
            <td>{{article.prix | number : '1.3'}}</td>
            <td>{{article.qte}}</td>
            <td>{{article.dateAjout | date:'dd/MM/yyyy'}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
