<div class="container">
  <div class="card shadow mb-4">
    <div class="card-body">
      <h1>Liste des etudiants</h1>
      <h2><input type="button" class="btn btn-danger" name="supp_btn" (click)="clear()" value="supprimer">
      </h2>
      <table width="100%">
        <thead>
          <tr>
            <th>ID</th>
            <th>nom</th>
            <th>prenom</th>
            <th>classe</th>
            <th>moyenne</th>
            <th>decission</th>
            <th>suppression</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of datas ">
            <td>{{data.id}}</td>
            <td>{{data.nom}}</td>
            <td>{{data.prenom}}</td>
            <td>{{data.classe}}</td>
            <td>{{data.moyenne}}</td>
            <td>{{(data.moyenne>=10)?'admis':'refuse'}}</td>
            <td><input type="button" class="btn btn-danger" name="supp_btn" (click)="supprimer(data.id)"
                value="supprimer"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
