<div class="container">
  <div class="card shadow mb-4">
    <div class="card-body">
      <h1>Liste des etudiants</h1>
      <table width="100%">
        <thead>
          <tr>
            <th>ID</th>
            <th>nom</th>
            <th>prenom</th>
            <th>classe</th>
            <th>moyenne</th>
            <th>decission</th>
            <th>suppression</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <!--<td>{{article.codea}}</td>
            <td>{{article.libelle | uppercase}}</td>
            <td>{{article.prix | number : '1.3'}}</td>
            <td>{{article.qte}}</td>
            <td>{{article.dateAjout | date:'dd/MM/yyyy'}}</td>-->
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
